* {
    font-family: 'Montserrat', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #365E32;
    color: white;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 0px;
    color: white;
    font-weight: bold;
}

.background-image {
    width: 100%; /* or max-width: 100%; if you want to ensure it doesn't stretch */
    max-width: 400px; /* Set max-width to 400px */
    height: auto;
    display: block;
    margin: 20px auto; /* Center the image */
}

input[type="file"] {
    display: none;
}

#file-label {
    color: white;
    height: 60px;
    width: 200px;
    background-color: #134611;
    border-style: none;
    border-radius: 5px;
    padding-top: 18px;
    text-align: center;
    display: inline-block;
}

#file-label:hover {
    color: #134611;
    background-color: white;
}

#submit-label {
    color: white;
    height: 60px;
    width: 300px;
    background-color: transparent;
    border-style: solid;
    border-color: #D8EFD3;
    border-radius: 5px;
    padding-top: 18px;
    text-align: center;
    pointer-events: none; /* Disable pointer events by default */
}

#submit-label:hover {
    color: #134611;
    background-color: white;
    border-style: none;
}

#file-name {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

a {
    color: white;
    height: 60px;
    width: 200px;
    background-color: #134611;
    border-style: none;
    border-radius: 5px;
    padding-top: 18px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    color: #134611;
    background-color: white;
}

p {
    font-size: 18px;
}
