<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Image Classification</title>
    <link
      rel="stylesheet"
      href="../static/style.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Upload an Image for Classification</h1>
      <form
        action="../templates/result.html"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" />
        <input type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>
