<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Trash Classification</title>
</head>
<body>
    <div class="container">
        <h1>Waste Image Classification</h1>
        <img src="{{ url_for('static', filename='BG.jpeg') }}" alt="Background Image" class="background-image">
        <div class="row" >
            <div class="col-md-12">
                <form method="post" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
                    <dl>
                        <p>
                            <input type="file" name="file" id="file" class="inputfile" autocomplete="off" required onchange="updateFileName(); enableLabelHover()">
                            <label for="file" id="file-label">CHOOSE A FILE</label>
                            <span id="file-name">No file chosen</span>
                        </p>
                    </dl>
                    <dl>
                        <p>
                            <input type="submit" name="submit" id="submit" class="inputsubmit" autocomplete="off" required hidden="hidden">
                            <label for="submit" id="submit-label">PREDICT YOUR TRASH TYPE</label>
                        </p>
                    </dl>
                </form>
            </div>
        </div>
    </div>

    <script>
        function updateFileName() {
            const fileInput = document.getElementById('file');
            const fileNameSpan = document.getElementById('file-name');
            if (fileInput.files.length > 0) {
                fileNameSpan.textContent = fileInput.files[0].name;
            } else {
                fileNameSpan.textContent = 'No file chosen';
            }
        }
    
        function enableLabelHover() {
            const submitLabel = document.getElementById('submit-label');
            submitLabel.style.pointerEvents = 'auto';
        }
    </script>
</body>
</html>
